{
  "swagger": "2.0",
  "info": {
    "title": "DALL-E_Connector",
    "description": "Connects to the DALL.E connector from openai",
    "version": "1.0"
  },
  "host": "api.openai.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {},
    "/v1/images/generations": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "url",
                        "title": "url"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            },
            "headers": {
              "application/json": {
                "description": "application/json",
                "type": "string"
              }
            }
          }
        },
        "summary": "Create",
        "description": "Create an image from a prompt",
        "operationId": "Create",
        "parameters": [
          {
            "name": "Authorization:Bearer",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "password",
            "description": "api key"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "prompt": {
                  "type": "string",
                  "description": "A text description of the desired image(s). The maximum length is 1000 characters.",
                  "title": "prompt"
                },
                "n": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The number of images to generate. Must be between 1 and 10.",
                  "title": "n",
                  "default": 1
                },
                "size": {
                  "type": "string",
                  "description": "The size of the generated images. Must be one of 256x256, 512x512, or 1024x1024.",
                  "title": "size"
                }
              },
              "required": [
                "n",
                "prompt",
                "size"
              ]
            }
          }
        ]
      }
    },
    "/v1/images/edits": {}
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Clé API": {
      "type": "apiKey",
      "in": "header",
      "name": "authorization"
    }
  },
  "security": [
    {
      "Clé API": []
    }
  ]
}